* {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes icon {
  from {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  to {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@keyframes icon {
  from {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  to {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

body {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4e4a4a), to(grey));
  background-image: linear-gradient(to bottom, #4e4a4a, grey);
  background-repeat: no-repeat;
  background-size: cover;
}

body .section-form .student-form label {
  font-weight: 500;
  color: white;
  margin: 10px 0 0;
  font-size: 18px;
}

body .section-form .student-form input {
  margin: 5px 0;
}

body .section-form .student-form button {
  font-weight: 700;
}

body .section-form #scores {
  border: 2px solid #17a2b8;
  border-radius: 5px;
  padding-top: 20px;
}

body .section-form #scores #tableScore {
  height: 250px;
  overflow-y: auto;
  margin-bottom: 10px;
}

body .section-form #scores #tableScore table {
  height: 100%;
  border-collapse: separate;
  margin-bottom: 0;
}

body .section-form #scores #tableScore table th, body .section-form #scores #tableScore table td {
  color: white;
  text-align: center;
}

body .section-form #scores #tableScore table tbody {
  padding: 20px;
}

body .section-form #scores #tableScore table tbody tr {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

body .section-form #scores h2 {
  margin-top: 50px;
  text-align: center;
  color: white;
}

body .section-form #scores input {
  margin-left: 8px;
  padding-left: 10px;
  width: 48%;
  border-radius: 5px;
  height: 35px;
}

body .section-form #table h1 {
  color: white;
  font-size: 40px;
}

body .section-form #table table {
  color: white;
}

body .section-form #table table thead th {
  text-align: left;
}

body .section-form #table table tbody tr {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

body .section-form #table table tbody tr:hover {
  background-color: white;
  color: #4e4a4a;
}

body .section-form #table table tbody tr i {
  -webkit-transition: .5s all;
  transition: .5s all;
}

body .section-form #table table tbody tr i:hover {
  color: gray;
  -webkit-animation-name: icon;
          animation-name: icon;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

body .section-form #errors {
  position: relative;
}

body .section-form #errors p {
  font-size: 18px;
  margin: 0;
}

body .section-form #errors #alert {
  visibility: hidden;
}

body .section-form #errors #alert-number {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

body .section-form #errors #alert-email {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/*# sourceMappingURL=main.css.map */