*{
    margin: 0;
    padding: 0;

}

@keyframes icon{
    from{transform: rotate(20deg)}
    to{transform: rotate(-20deg)}
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom,rgb(78, 74, 74),grey);
    background-repeat: no-repeat;
    background-size: cover;
    .section-form{
        .student-form{
            label{
                font-weight: 500;
                color: white;
                margin: 10px 0 0;
                font-size: 18px
            }
            input{
                margin: 5px 0;
            }
            button{
                font-weight: 700;
            }
        }

        #scores{
            border:2px solid #17a2b8;
            border-radius: 5px;
            padding-top: 20px; 
            #tableScore{
                height: 250px;
                overflow-y: auto;  
                margin-bottom: 10px;
                
                table{
                    height: 100%;
                    border-collapse: separate;
                    th,td{
                        color: white;
                        text-align: center;
                    }
                    tbody{
                        padding: 20px;
                        tr{
                            color:white;
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                }  
            }         
            h2{
                margin-top: 50px;
                text-align: center;
                color: white;
            }

            input{
                margin-left: 8px;
                padding-left: 10px;
                width: 48%;
                border-radius: 5px;
                height: 35px;
            }
        }

        #table{
            h1{
                color:white;
                font-size: 40px;
            }
            table{
                color:white;
                thead{
                    th{
                        text-align: left;
                    }
                }
                tbody{
                    tr{
                        transition: 0.5s all;
                        &:hover{
                            background-color: white;
                            color:rgb(78, 74, 74);
                        }
                        i{
                            transition: .5s all;
                            
                            &:hover{
                                color:gray;
                                animation-name: icon;
                                animation-duration: 0.5s;
                                animation-iteration-count: infinite;
                                animation-timing-function: linear;
                            }
                        }
                    }
                }
            }
        }
        
        #errors{
            position: relative;
            p{
                font-size: 18px;
                margin:0;
            }
            #alert{
                visibility: hidden;
            }
            #alert-number{
                visibility: hidden;;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
            #alert-email{
                visibility: hidden;;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
        }
    }
}

