*{
    margin: 0;
    padding: 0;

}

body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom,rgb(78, 74, 74),grey);
    background-repeat: no-repeat;
    background-size: cover;
    .section-form{
        .student-form{
            label{
                font-weight: 500;
                color: white;
                margin: 10px 0 0;
                font-size: 18px
            }
            input{
                margin: 5px 0;
            }
            button{
                font-weight: 700;
            }
        }

        #scores{
            border:2px solid #17a2b8;
            padding-top: 20px; 
            #tableScore{
                height: 250px;
                overflow-y: auto;    
                th,td{
                    color: white;
                }
            }         
            h2{
                margin-top: 50px;
                text-align: center;
                color: white;
            }

            input{
                padding-left: 10px;
                width: 48%;
                border-radius: 5px;
                height: 35px;
            }
        }

        #table{
            h1{
                color:white;
                font-size: 40px;
            }
            table{
                color:white;
                thead{
                    th{
                        cursor: pointer;
                        transition: 0.1s all;
                        &:hover{
                            color:#17a2b8;
                            transform: translateY(-2px);
                        }
                        &:active{
                            transform: translateY(0px);
                        }
                    }
                }
            }
        }
        
        #errors{
            position: relative;
            p{
                font-size: 18px;
                margin:0;
            }
            #alert{
                visibility: hidden;
            }
            #alert-number{
                visibility: hidden;;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
            #alert-email{
                visibility: hidden;;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }
        }
    }
}

